@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.App {
  text-align: center;
  margin: auto;
  width: 1280px;
  Height: 720px;
  background-image: url(../media/background.png)
}

.panel {
  align-content: center;
  color: white;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.NavBar
{
  border:3px solid;
  border-color:rgb(92, 136, 231);
  background-color: black;
  width:450px;
  height: 75px;
  margin: auto;
  background-color: #333;
  font-family: 'Baloo Bhai', cursive;
}

.NavBar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;  
  border: none;
  outline: none;
  padding: 10px 16px;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.NavBar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(92, 136, 231);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(92, 136, 231);;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.woahlrus
{
  position:absolute;
  left: 30px;
  top: 20px;
  width:100px;
}

.title
{
  font-size:50px;
  font-family: 'Staatliches', cursive;
}
.topPanel
{
  border-radius: 10px solid;
  color: white;
  text-align:center;
  display: inline-flex;
}

.panel-title
{
  font-size:20px;
  font-family: 'Ubuntu', sans-serif;
}

.panel-body, .panel-heading, .panel-body a
{
  font-family: 'Montserrat Alternates', sans-serif;
  color:white;
  table-layout: auto;
  text-decoration:none;
}

.panel-body h4{
  text-align:center;
  border:3px solid  rgb(92, 136, 231);;
  background-color: #282c34;
  color: white;
  padding:5px;
  float: right;
  position: absolute;
  right:8%;
}
.panel-body h3{
  text-align:center;
  border:3px solid  rgb(92, 136, 231);;
  background-color: #282c34;
  color: white;
  padding:5px;
  display:inline-block;
}

.panel-body h4:hover, .panel-body h3:hover
{
  background-color: rgb(92, 136, 231);
}

th, td
{
  margin-left:auto;
  margin-right:auto;
  width:1280px;
  height:50px;
  text-align: left;
}
th{
  font-family: 'Ubuntu', sans-serif;
  font-size:30px;
  padding:3px;
}

td
{
  background-color: rgba(24, 24, 24, 0.3);
  border:2px solid black;
  padding:10px;
}
td:hover
{
  background-color: rgba(24, 24, 24, 0.5);
}

.form-group
{
  padding:5px;
  font-family: 'Ubuntu', sans-serif;

}

.form-control
{
  width:60%;
  padding:5px;
  border-radius: 5px;
}

.form-group label{
  display:block;
}